.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}

.score {
    color: #fff;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #981238;
    border-radius: 9px;
    width: 120px;
    margin-top: 20px;
    color: #fff;
    padding: 5px; 
    cursor: pointer;
}